body{
  background-color:#555;
  height:100vh;
  display:grid;
  place-content:start center;
}

div{
  position: relative;
  width: 11px;
  height: 400px;
  margin-top: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px, 0px 0px 2px inset;
  animation: glow 1.5s linear infinite; 
}

div::before{
  content: '';
  position:absolute;
  top:90%;
  right:-50%;
  height: 200px;
  width: 20px;
  background-image: 
    linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.2) 37.5%,
      rgba(  128,   128,   128, 0.5) 100%),
    linear-gradient(to bottom, 
      gray 0, gray 10%, 
      black 10%, black 12%, 
      gray 12%, gray 15%, 
      black 15%, black 17%,
      gray 17%, gray 19%,
      black 19%, black 21%,
      gray 21%, gray 23%,
      black 23%, black 25%,
      gray 25%, gray 45%,
      black 45% , black 55%,
      transparent 55% , transparent 95%,
      black 95%, silver      
    ),
     linear-gradient(to right,
      gray 0%, gray 12.5%, 
      black 12.5%, black 25%,
      silver 37.5%, silver 37.5%,
      gray 37.5%, gray 62.5%, 
      black 62.5%, grey 75%,
      silver 75%, silver 87.5%,
      gray 87.5%, gray 100%
     );
}

@keyframes glow {
  from {
    color: aqua; 
    box-shadow: 0 0 9px dodgerblue ; 
  }
  50% {
    color: aqua; 
    box-shadow: 0 0 18px dodgerblue; 
  }
  to {
    color: aqua; 
    box-shadow: 0 0 9px dodgerblue; 
  }
